:root { 
  --blue: rgba(0, 177, 168, 0.75);
  --red: rgba(94, 255, 94, 0.75);
}


.app {
  background: linear-gradient(89deg, var(--red) 0%, var(--blue) 100% );
}

button:focus {
  outline: none;
}

/* //////////////////////////// */
/* ////////// Navbar ////////// */
/* //////////////////////////// */