.dashboard {
  min-height: 83.2vh;
}
.dashboard-title h1{
  font-size: 5rem;
}
.dashboard-title p {
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  padding-bottom: 5px;
}
.dashbord-edit:hover {
  cursor: pointer;
  color: green !important;
}
.dashboard-delete i{
  margin: 5px 7px;
}
.dashboard-delete i:hover {
  color: red !important;
}