.dashboard {
  min-height: 84.2vh;
}
.dashbord-form-input label {
  display: none;
}
.dashbord-form-input .form-group{
  margin-bottom: 0px;
}
.dashboard-form-btn {
  padding-top: 5.5px;
}
.dashboard-form-btn .btn-clear i,
.dashboard-form-btn .btn-add i {
  padding: 4px 3px;
}

.dashboard-title h1{
  font-size: 5em;
}
.dashboard-title p {
  border-bottom: 1px solid black;
  font-size: 1.2em;
  padding-bottom: 5px;
}

/* Form */
.btn-add i, .btn-clear i {
  padding: 1px 2px;
}