@media (min-width : 320px) and (max-width : 420px) {
  /* DASHBOARD */
  .dashboard-title h1{
    font-size: 3em;
  }
  .dashboard-title p {
    font-size: 1em;
  }
}

@media (min-width : 420px) and (max-width : 480px) {

}

@media (min-width: 481px) and (max-width: 575px) {
  /* DASHBOARD */
  .btn-edit i, .btn-delete i, .btn-add i, .btn-clear i {
    padding: 3px 4px;
  }
}

@media (min-width: 576px) and (max-width: 767px) { 
  /* DASHBOARD */
  .dashboard-title h1{
    font-size: 4em;
  }
  .dashboard-title p {
    font-size: 1.025em;
  }
  .btn-edit i, .btn-delete i, .btn-add i, .btn-clear i {
    padding: 4px 5px;
  }
}

@media (min-width : 768px) and (max-width : 1024px) {
  /* DASHBOARD */
  .dashboard-title {
    padding-right: 2px;
  }
  .btn-edit i, .btn-delete i, .btn-add i, .btn-clear i {
    padding: 4px 6px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* DASHBOARD */
  .dashboard-title {
    padding-right: 2px;
  }
  .btn-edit i, .btn-delete i, .btn-add i, .btn-clear i {
    padding: 4px 6px;
  }
}

@media (min-width: 1281px) {
  /* DASHBOARD */
  .dashboard-title {
    padding-right: 2px;
  }
  .btn-edit i, .btn-delete i, .btn-add i, .btn-clear i {
    padding: 4px 7px;
  }
}